<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952269253313-p0c14iqavihpndfbs64qf6a5hktn19c7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952269253313-p0c14iqavihpndfbs64qf6a5hktn19c7</string>
	<key>API_KEY</key>
	<string>AIzaSyB3l7y4zUw4rR39SgXKjqK0tqmRPhjcqe8</string>
	<key>GCM_SENDER_ID</key>
	<string>952269253313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>reganomika.z.s.colorizer</string>
	<key>PROJECT_ID</key>
	<string>colorizer-88178</string>
	<key>STORAGE_BUCKET</key>
	<string>colorizer-88178.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952269253313:ios:5dc2d6aa3e870ce4fe4240</string>
</dict>
</plist>